<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>942617148522-0ibp46rumvslvp8cumcj1b4sfqka40ff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.942617148522-0ibp46rumvslvp8cumcj1b4sfqka40ff</string>
	<key>API_KEY</key>
	<string>AIzaSyB1x9QyjJNoB6WITqcQ5BRZfPDQW0ZhPxw</string>
	<key>GCM_SENDER_ID</key>
	<string>942617148522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bignerdio.coreDataFirebase</string>
	<key>PROJECT_ID</key>
	<string>enjoy-510df</string>
	<key>STORAGE_BUCKET</key>
	<string>enjoy-510df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:942617148522:ios:6666ba6019ff4dd9dede13</string>
	<key>DATABASE_URL</key>
	<string>https://enjoy-510df.firebaseio.com</string>
</dict>
</plist>